<%- include('components/header')  %> 
<%- include('components/navbar') %> 

    <h1><%= greeting %> </h1>
    <h2>from <%= name %> </h2>

    
<script> document.title = "Home"</script>
<%- include('components/footer') %> 